.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section-style {
  background-color: #61dafb;
  margin: 2rem;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.product {
  background-color: #a9a9a9;
  margin: 2rem;
  padding: auto;
  align-items: center;
  border-radius: 1rem;
}

.cart {
  background-color: #61dafb;
  margin: 2rem;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;

}

.result{
  background-color: a9a9a9;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
